body {
    height: 100vh;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #051e1f;
}

#app {
    display: flex;
    justify-content: center;
    align-items: center;
}